@model IEnumerable<TruYum.Models.MenuItem>
@{
    ViewBag.Title = "CustomerMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MenuItems</h2>

testing........
all reference for this view is removed .......
as pr guidline.....
merged with index view.......